@charset "UTF-8";
body,form,textarea,select,option,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dt,dd,menu,blockquote,fieldset,label,i,em,header,footer,section,
legend,button,input,hr,pre,div,input,span,p,a{margin: 0;padding: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:100%;}
html{font-size: 62.5%;}
body{font:1.2px/1.5 "Hiragino Sans GB","Helvetica Neue",Helvetica,STHeiTi,"Microsoft Yahei",sans-serif;color:#333;}
li{list-style-type:none;}
input,select,textarea{vertical-align:middle;  color:#333; outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a{text-decoration:none;color:#333;}
img{border:0px;}
i,em{font-style:normal;}
b{ font-weight:normal;}
table{border-spacing:0px; border-collapse:collapse;width:100%; border:0px;}
.clearfix{overflow:hidden;zoom:1;}
.clear{clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}

